<% provide(:title, "Σχετικά")%>
<body>
  <p>
    Η εφαρμογή <em>Sociopub</em> ξεκίνησε στα πλαίσια πτυχιακής εργασίας από το Σάββα Αλεξάνδρου, Προπτυχιακό Φοιτητή του Τμήματος Πληροφορικής Πανεπιστημίου Κύπρου με τη καθοδήγηση του καθηγητή Μάριου Δικαιάκου και του μεταπτυχιακού φοιτητή Αθανάσιου Φουδούλη.
    <br>
    Credits:
    <br>
    The project is implemented in Cyprus Community Media Center for feedback and testing purpose.
    <br><br>
    Links,Books:
    <li>https://www.railstutorial.org/book</li>
    <li>https://pragprog.com/book/hwcuc/the-cucumber-book</li>
    <li>http://www.saasbook.info/</li>
    <li>http://teotti.com/component-based-rails-architecture-primer/</li>
  </p>
</body>
