<% provide(:title, "About")%>
<body>
  <h1><%= yield(:title)%></h1>
  <p>
    The <em>Sociopub application</em> is a project for thesis.
    <li>Student: Savvas Alexandrou</li>
    <li>Supervisor: Marios D. Dikaiakos</li>
    <li>Support: Athanasios Foudoulis</li>
    <br>
    Credits:
    <br>
    The project is implemented in Cyprus Community Media Center for feedback and testing purpose.
    <br><br>
    Links,Books:
    <li>https://www.railstutorial.org/book</li>
    <li>https://pragprog.com/book/hwcuc/the-cucumber-book</li>
    <li>http://www.saasbook.info/</li>
    <li>http://teotti.com/component-based-rails-architecture-primer/</li>
  </p>
</body>
