<<<<<<< HEAD
<% provide(:title, "Επικοινωνία") %>
<body>
  <h1><%= yield(:title) %></h1>
  <p>
    Για οτιδήποτε χρειαστείς για την εφαρμογή μπορεί να επικοινωνήσεις μαζί μας 
  <ul>
    <li>μέσω chat στο <%= link_to "##sociopub", "http://webchat.freenode.net/?channels=##sociopub", :target => "_blank"%></li>
    
    <li>μέσω  <%= mail_to "sociopub@gmail.com", "email" %></li>
  </ul>
</p>
</body>
=======
<% provide(:title, "Contact") %>
<h1><%= yield(:title)%></h1>
<p>
  Contact me
  <a href="http://www.cs.ucy.ac.cy/~salexa03/#contact">here</a>.
</p>
>>>>>>> 33d0173cfd79df6567b76997b2b01b34b8f68d70
