<% provide(:title, "Help") %>
<body>
<h1><%= yield(:title) %></h1>
<p>
Get help on the Ruby on Rails Tutorial at the
<a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>.
</p>
</body>
