<div class="center jumbotron">
  <h1>Καλωσόρισες στο sociopub</h1>
  <br>
  <br>
  <p>Γιατί χάνεις χρόνο να επισκέπτεσαι πολλούς διαφορετικούς ιστοτόπους για να διαβάζεις άρθρα;</p>
  <br>
  <br>
  <p>    Απλά επέλεξε τις πηγές,</p>
  <br>
  <br>
  
  <p>και το sociopub θα φροντίσει να στα παρέχει σε μια σελίδα, μ' ένα κλικ, όμορφα, συγυρισμένα!</p>
  <br>
  <br>
  
  <!-- να φεύγει όταν είναι χρήστης -->
  <p><%= link_to "Εγγραφή!", 'signup', class: "btn btn-lg btn-primary"%></p>
  <%= link_to image_tag("sign-in-with-twitter-gray.png", alt: "twitter icon", :width => 158, :height => 28), root_path, id: "sign-up-twitter"%>
  <br>
  <br>
  <h1>Γιατί μια τέτοια εφαρμογή</h1>
  <br><br>
  <i><strong>  Στην Εποχή της Πληροφορίας το φαινόμενο Υπερφόρτωση Πληροφορίας  <%= link_to "έχει πια εξαπλωθεί", "http://www.sciencedirect.com/science/article/pii/S016792360200101X#articles", :target => "_blank"%>. Ο κοινωνιολόγος <%= link_to "Georg Simmel", "http://studysites.sagepub.com/edwards/study/materials/reference/77593_15.1ref.pdf", :target => "_blank" %> (1858-1918), υπέθεσε πως η υπερφόρτωση στις αισθήσεις των ανθρώπων του σύγχρονου αστικού κόσμου θα καταστήσει τους κατοίκους της πόλης κατάκοπους και θα συγκρουστεί με την ικανότητά τους να αντιδρούν σε νέες καταστάσεις. <br><br>
      Η εφαρμογή αυτή έχει σκοπό να οργανώσει όσο το δυνατό γίνεται καλύτερα το πλήθος της διαδικτυακής πληροφορίας, κυρίως άρθρων από μέσα ενημέρωση, με τρόπο που ο χρήστης να επισκοπεί τη ροή της πληροφορίας πιο ευχάριστα και να αποθηκεύει αυτά που τον ενδιαφέρουν.</strong></i>
  
</div>
