<div class="center jumbotron">
  <h1>Καλοσώρισες στην Εφαρμογή Sociopub</h1>
  <h2>
    Μια εφαρμογή που συναθροίζει υπερσυνδέσμους άρθων από διάφορες πηγές και σου τις παρέχει σε μια μοναδική μορφή. 
  </h2>
  <%= link_to "Εγγραφή!", 'signup', class: "btn btn-lg btn-primary"%>
</div>
