<body>
  <h1>Sociopub</h1>
  <p>
    <li><%= link_to "home", '/static_pages/home' %></li>
    <li><%= link_to "help", '/static_pages/help' %></li>
    <li><%= link_to "about", '/static_pages/about' %></li>
  </p>
</body>
