<div class="center jumbotron">
  <h2>Καλοσώρισες στο sociopub</h2>
    Γιατί χάνεις χρόνο να επισκέπτεσαι πολλούς διαφορετικούς ιστιοτόπους να διαβάζεις άρθρα;
    <br>
    <br>
    Απλά επέλεξε τις πηγές.
    <br>
    <br>
    Και το sociopub θα φροντίσει να στα παρέχει σε μια σελίδα μ' ένα κλικ, όμορφα, συγυρισμένα!
    <br>
    <br>
  <%= link_to "Εγγραφή!", 'signup', class: "btn btn-lg btn-primary"%>
</div>
