<div class="center jumbotron">
  <h1>Welcome to Sociopub</h1>
  <h2>
    An application that aggregate feeds and bundling articles for you.
  </h2>
  <%= link_to "Εγγραφή!", 'signup', class: "btn btn-lg btn-primary"%>
</div>
