<li>
  <!-- comments -->
  <!-- Αυτή η όψη εκφράζει subscription - Να μετακινηθεί με τη πρώτη ευκαιρία -->
  <% if feed.subscribed_by?(current_user) %>
  <%= link_to "Διαγραφή", feed, method: :delete %>
  <% else %>
  <%= link_to "Εγγραφή",  edit_subscription_url(feed.id) %>
  <% end %>
  <!-- {controller: "subscriptions", action: "create", url: feed.url} -->
  <!--% else %-->
  <!--% end %-->
  | <%= link_to feed.title, feed.url %>
  <% if current_user.admin? %>
  | <%= link_to "Επεξεργασία",   edit_feed_path(feed.id) %>
  <% end %>
  
  <!--% if feed.subscribed_by?(current_user)%-->
  <!--%= link_to "Διαγραφή", feed, method: :delete %-->
</li>
