<h1>sociopub</h1>

<p>
<<<<<<< HEAD
  Γεια σου <%= @user.username%>,
</p>
<p>
<<<<<<< HEAD
  Καλωσόρισες στο sociopub. Ακολούθησε το πιο κάτω σύνδεσμο για να μπορείς να εξερεύνησεις την εφαρμογή. Και για ότι χρειαστείς μην διστάσεις να επικοινωνήσεις μαζί μας.
=======
  Καλωσόρισες στο sociopub. Ακολούθησε τον πιο κάτω σύνδεσμο για να μπορείς να εξερεύνησεις την εφαρμογή. Και για ό,τι χρειαστείς μη διστάσεις να επικοινωνήσεις μαζί μας.
>>>>>>> 00f486f1994a6072d2af2bad9cdbe05b5ed41fe7
</p>

<%= link_to "Ενεργοποίηση", edit_account_activation_url(@user.activation_token, email: @user.email) %>


=======
  Γεια σου, <%= @user.username%>,
</p>
<p>
  Καλοσώρισες στο sociopub. Ακολούθησε το πιο κάτω σύνδεσμο για να ενεργοποιήσεις το λογαριασμό σου.
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
>>>>>>> 33d0173cfd79df6567b76997b2b01b34b8f68d70


