<h1>sociopub</h1>

<p>
  Γεια σου <%= @user.username%>,
</p>
<p>
  Καλωσόρισες στο sociopub. Ακολούθησε τον πιο κάτω σύνδεσμο για να μπορείς να εξερεύνησεις την εφαρμογή. Και για ό,τι χρειαστείς μη διστάσεις να επικοινωνήσεις μαζί μας.
</p>

<%= link_to "Ενεργοποίηση", edit_account_activation_url(@user.activation_token, email: @user.email) %>




