<% if @user.errors.any? %>
<div id="error_explanation">
  <h2>Ουπς. Κάτι πήγε Λάθος.</h2>
  
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

