<% if @feed.errors.any? %>
<div id="error_explanation">
<<<<<<< HEAD
  <h2>Ουπς. Κάτι πήγε λάθος.</h2>
=======
  <h2>Ουπς. Κάτι πήγε Λάθος.</h2>
>>>>>>> 33d0173cfd79df6567b76997b2b01b34b8f68d70
  
  <ul>
    <% @feed.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
