<% provide(:title, 'Συνδρομές') %>
<h2>Καινούρια Συνδρομή</h2>

<%= render 'form'%>

<!--% current_user.my_subscriptions.each do |feed| %-->

<!--% current_user.other_subscriptions.each do |feed| %-->
<h2>Συνδρομές </h2>
<!--%= will_paginate%-->
<% @feeds.each do |feed| %>
<%= render feed %>
<% end %>
</ul>

<!--%= will_paginate%-->
