<footer class="footer">
  <small>
    This is could be an app called SocioPub
  </small>
  <nav>
    <ul>
      <li>ok</li>
      This application's name may be is SocioPub
    </ul>
  </nav>
</footer>
