<footer class="footer">
  <small>
    Ο κώδικας είναι διαθέσιμος στο <%= link_to "github", "https://github.com/Savinos90/sociopub", :target => "_blank" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Σχετικά", 'about' %></li>
      <li> <%= link_to "Επικοινωνία", "http://www.cs.ucy.ac.cy/~salexa03/#contact", :target => "_blank" %> </li>
 
      <li><%= link_to "Συνεισφορά", '#' %></li>
    </ul>
  </nav>
</footer>
