<footer class="footer">
  <small>
    The Sociopub application by <a href="http://www.cs.ucy.ac.cy/~salexa03/">Savvas Alexandrou</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '/static_pages/about' %></li>
      <li><%= link_to "Contact", '/static_pages/contact' %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>
